body {
            font-family: Arial, sans-serif;
            background-color: #111827;
            color: #E5E7EB;
            text-align: center;
            padding-top: 140px;
        }

        button {
            background-color: #2563EB;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 20px;
        }

        button:hover {
            background-color: #1E40AF;
        }

        img {
            border-radius: 50%;
            border: 4px solid #2563EB;
            margin-top: 20px;
        }

        section {
            max-width: 600px;
            margin: 50px auto;
            background-color: #1F2937;
            padding: 20px;
            border-radius: 10px;
        }

        nav{
            background-color: #1F2937;
            padding: 10px;
            position: fixed;
            top: 0;
            width: 100%;
        }

        nav a {
            color: #E5E7EB;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            color: #60A5FA;
        }

        section {
            scroll-margin-top: 120px;
        }

        html {
            scroll-behavior: smooth;
        }
